html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background: black;
}

#gamearea {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 600px;
    border: none;
}

#scorearea {
    position: absolute;
    top: 565px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #AAA;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
}

#pacman {
    z-index: 1;
    position: absolute;
}

.nothing {
    background: lightgrey;
    position: absolute;
    z-index: 0;
    border: solid #666 1px;
    background-image: none;
}

.normal {
    background-image: url(pill.png);
    background-repeat: no-repeat;
    background-position:center
}

.wall {
    background: black;
}

.ghost {
    background-image: url(juli.png);
}

.powerup {
    background-image: url("hotdeal.png");
}


