body {
    margin: 0;
    padding: 0;
    background: black;
}

#gamearea {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 600px;
    border: none;
}

.normal {
    background: lightgrey;
    position: absolute;
    z-index: 0;
    border: solid #666 1px;
    background-image: url(pill.png);
    background-repeat: no-repeat;
    background-position:center
}

.nothing {
    background: lightgrey;
    position: absolute;
    z-index: 0;
    border: solid #666 1px;
    background-image: none;
}

.wall {
    background: black;
}

.ghost {
    /*background: darkblue;*/
    background-image: url(juli.png);
}

.powerup {
    /*background: darkred;*/
    background-image: url("hotdeal.png");
}

#pacman {
    z-index: 1;
    position: absolute;
}
